.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.left-container {
  width: 100%;
}


.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pokemons-container{
  display: flex;
  align-items: center;
  gap: 20px;
}
