.main-container{
  display: grid;
  flex-direction: column;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

@media (max-width: 768px) {
  .main-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    
  }
}