 .poke-card {
   border-radius: 10px;
   padding: 20px;
   max-width: 300px;
   min-width: 200px;
   text-align: center;
   background-color: #f9f9f9;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   transition: transform 0.2s;
   margin-top: 20px;
 }

 .poke-card:hover {
   transform: scale(1.05);
   cursor: pointer;
 }

 .poke-card-header {
   margin-bottom: 15px;
 }

 .poke-card-image img {
   width: 100%;
   border-radius: 10px;
 }

 .poke-card-info {
   font-size: 14px;
   color: #555;
 }

 .header-container {
   display: flex;
   justify-content: flex-end;
 }